:root {
  --color-primary: #123456;
  --color-secondary: #ff8000;
  --color-light: whitesmoke;
}

body {
  background-color: var(--color-primary);
  color: white;
}

hero {
  background-image: url(https://images.unsplash.com/photo-1451187580459-43490279c0fa?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2072&q=80);
  object-fit: cover;
  background-position: center;
}

form input {
  margin: .5rem 0;
  /* width: 100%; */
}

a {
  text-decoration: none;
  color: var(--color-secondary);
  line-height: 1.8rem;
}

p {
  line-height: 1.8rem;
}

i {
  color: var(--color-secondary);
}

.bgWhite {
  background-color: white;
}

.bgOffWhite {
  background-color: var(--color-light);
}

.bgPrimary {
  background-color: var(--color-primary);
}

.bgSecondary {
  background-color: var(--color-secondary);
}

.textWhite {
  color: white;
}

.textPrimary {
  color: var(--color-primary);
}

.textSecondary {
  color: var(--color-secondary);
}

.vl {
  border-right: 3px solid var(--color-secondary);
  height: 92%;
}

.textShadow {
  text-shadow:
    1px 2px 4px black,
    -1px -2px 4px black;
}

.boxShadow {
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.69);
}

.sectionShadow {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.69);
}

.card {
  color: black;
}

.floatingCard {
  position: absolute;
  background-color: white;
  border-radius: 5px;
  color: black;
  border: 1px solid black;
}

.roundedCorners {
  border-radius: 5px;
}

@media (max-width:768px) {
  .hideMeMobile {
    display: none;
  }

  .centerMeMobile {
    text-align: center;
  }

  .floatingCard {
    position: relative;
  }
}